/* PALETTE */
:root {
    --nav_upfooter: rgb(44,62,80);
    --section-green: rgb(25,188,156);
    --addresses: rgb(58,85,109);
    --text-white: white;
    --box1: rgb(186,75,99);
    --box2: rgb(28,164,182);
    --box3: rgb(20,15,15);
    --box4: rgb(27,131,193);
    --box5: rgb(13,56,181);
    --box6: rgb(204,178,163);
}

nav {
    background-color: var(--nav_upfooter);
}

.addresses {
    color: var(--text-white);
    background-color: var(--addresses);
}

.copyright {
    background-color: var(--nav_upfooter);
}

.star-light {
    position: relative;
    font-size: 2rem;
}
.star-light:before {
    content: "" ;
    display: inline-block;
    height: .1rem;
    width: 10rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: calc(50% - .05rem);
    left: -11rem;
}


.star-light:after {
    content: "" ;
    display: inline-block;
    height: .1rem;
    width: 10rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: calc(50% - .05rem);
    left: 4rem;
}

.star-light.text-white::before,
.star-light.text-white::after
    {
        background-color: white;
    }

.jumbo,
.about {
    color: var(--text-white);
    background-color: var(--section-green)
}

h1,
h2,
h4 {
    padding-top: 3rem;
}

#btn-submit {background-color: var(--section-green);}

.start-bootstrap {
    color: var(--section-green);
    text-decoration: none;
}


/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
} */